<div class="container mt-5">
    <app-search-bar></app-search-bar>
</div>
<div class="container mt-5">
    <h3>Liste des congés</h3>
    <table class="table">
        <thead>
            <tr class="table-success">
                <th scope="row">ID</th>
                <th scope="row">Date Debut</th>
                <th scope="row">Date Fin</th>
                <th scope="row">Type</th>
                <th scope="row">Motif</th>
                <th scope="row">Utilisateur</th>
                <th scope="row">Status</th>
                <th scope="row">Accept/Refus</th>
                <th scope="row">Actions</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col">1</td>
                <td class="col">Sidibe</td>
                <td class="col">Moussa</td>
                <td class="col">mogmail.com</td>
                <td class="col">79776362</td>
                <td class="col">Finance</td>
                <td class="col">Personnel</td>
               <td><button class="btn btn-outline-success me-2"><i class="bi bi-check-lg"></i></button>
               <button class="btn btn-outline-danger"><i class="bi bi-x"></i></button></td> 
               <td><button class="btn btn-outline-success me-2"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button></td> 
            </tr>
            
        </tbody>
        <!-- <tfoot></tfoot> -->
      </table>
</div>