<div class="principal">
    <div class="container">
        <h2>Ajouter une demande de permission</h2>
        <form>
            <div class="row">
                <div class="col">
                    <label for="userID">ID Utilisateur *</label>
                    <input type="text" id="userID" class="form-control" placeholder="User ID">
                </div>
                <!-- <div class="col">
                    <label for="typeConge">Type de congé *</label>
                    <select id="typeConge" class="form-control">
                        <option value="vacances">Vacances</option>
                        <option value="maladie">Congé maladie</option>
                        <option value="maternité">Congé maternité</option>
                        <option value="autre">Autre</option>
                    </select>
                </div> -->
                <div class="col">
                    <label for="dateDebut">Date de début *</label>
                    <input type="date" id="dateDebut" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="dateFin">Date de fin *</label>
                    <input type="date" id="dateFin" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="motif">Motif *</label>
                    <textarea id="motif" class="form-control" placeholder="Motif de la demande"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Faire la demande</button>
        </form>
    </div>
    
</div>
