<div class="container mt-5">
    <app-search-bar></app-search-bar>
</div>
<div class="container mt-5">
    <h3>Liste des congés approuvés</h3>
    <table class="table">
        <thead>
            <tr class="table-success">
                <th scope="row">Nom/prenom</th>
                <th scope="row">Date Debut</th>
                <th scope="row">Date Fin</th>
                <th scope="row">Type</th>
                <th scope="row">Motif</th>
                <th scope="row">Actions</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col">Djenaba Diallo</td>
                <td class="col">03/01/2020</td>
                <td class="col">03/02/2020</td>
                <td class="col">Conge maternité</td>
                <td class="col">conge pour la maternité</td>
               <td><button class="btn btn-outline-success me-2"><i class="bi bi-printer-fill"></i></button></td>
               
            </tr>
            
        </tbody>
        <!-- <tfoot></tfoot> -->
      </table>
</div>