<div class="container principal mt-5">
    <div class="en-tete text-center">
        <img src="assets/mali.png" class="conge-image">
        <p><strong>Direction National du Tresor et de la Comptabilité Publique .</strong></p>
        <p class="conge-number">Conge ID: 4</p>
    </div>
    <p><strong>Nom:</strong> Moussa Diaby</p>
    <p><strong>Date de debut:</strong> 04/02/2024</p>
    <p><strong>Date de fin:</strong> 04/03/2024</p>
    <p><strong>Type:</strong> Congé annuel</p>
    <p><strong>Motif:</strong> mon droit au congé annuel</p>
    <div class="signatures">
        <p><strong>Signature du personnel</strong></p>
        <p><strong>Signature du chef</strong></p>
    </div>
</div>

