<div class="container d-flex justify-content-between align-items-center">
    <div class="head">
        <h3>Salut, Amadou</h3>
        <p class="text-nom">Bonne journée à vous !</p>
    </div>
    <div class="d-flex align-items-center">
        <a><i class="bi bi-bell me-3 icon-notif"></i> </a>
        <div class="bar"></div>
        <div class="img-profil">
            <img src="assets/6.jpg" class="rounded-circle" alt="Profil" width="50">
        </div>
        <div class="ms-3 mt-3">
            <h3 class="h-nom">Amadou Niangaly</h3>
            <p class="text-nom">Admin</p>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-between align-items-center mt-3">
    <div class="composant">
        <h5 class="h5-text">Total des demande de congé</h5>
        <p class="c-p">200</p>
        <img src="assets/request.png" class="c-img">
    </div>
    <div class="composant">
        <h5 class="h5-text">Refuser</h5>
        <p class="c-p">50</p>
        <img src="assets/refus.png" class="c-img">
    </div>
    <div class="composant">
        <h5 class="h5-text">Accepter</h5>
        <p class="c-p">150</p>
        <img src="assets/accept.png" class="c-img">
    </div>
    <div class="composant">
        <h5 class="h5-text">En attente</h5>
        <p class="c-p">0</p>
        <img src="assets/attente.png" class="c-img">
    </div>
</div>

<div class="container d-flex justify-content-between align-items-center mt-3">
    <div class="composant">
        <h5 class="h5-text">Total des demande de congé</h5>
        <p class="c-p">100</p>
        <img src="assets/request.png" class="c-img">
    </div>
    <div class="composant">
        <h5 class="h5-text">Refuser</h5>
        <p class="c-p">50</p>
        <img src="assets/refus.png" class="c-img">
    </div>
    <div class="composant">
        <h5 class="h5-text">Accepter</h5>
        <p class="c-p">25</p>
        <img src="assets/accept.png" class="c-img">
    </div>
    <div class="composant">
        <h5 class="h5-text">En attente</h5>
        <p class="c-p">25</p>
        <img src="assets/attente.png" class="c-img">
    </div>
</div>

