<div class="principal">
    <div class="container">
        <h2>Ajouter un Utilisateur</h2>
        <form>
            <div class="row">
                <div class="col">
                    <label for="nom">Nom *</label>
                    <input type="text" id="nom" class="form-control" placeholder="Nom" required>
                </div>
                <div class="col">
                    <label for="prenom">Prénom *</label>
                    <input type="text" id="prenom" class="form-control" placeholder="Prénom" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="email">Email *</label>
                    <input type="email" id="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="col">
                    <label for="password">Mot de passe *</label>
                    <input type="password" id="password" class="form-control" placeholder="Mot de passe" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="tel">Téléphone</label>
                    <input type="tel" id="tel" class="form-control" placeholder="Téléphone">
                </div>
                <div class="col">
                    <label for="dateNaissance">Date de naissance *</label>
                    <input type="date" id="dateNaissance" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="dateDebut">Date de début *</label>
                    <input type="date" id="dateDebut" class="form-control" required>
                </div>
                <div class="col">
                    <label for="departement">Département *</label>
                    <select id="departement" class="form-control" required>
                        <!-- Options doivent être chargées dynamiquement -->
                         <option id="child">Finance</option>
                         <option id="child">Banque et Assurance</option>
                         <!-- <option></option> -->
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="role">Rôle *</label>
                    <select id="role" class="form-control" required>
                        <!-- Options doivent être chargées dynamiquement -->
                         <option>Admin</option>
                         <option>Personnel</option>
                    </select>
                </div>
                <div class="col">
                    <label for="photo">Photo</label>
                    <input type="file" id="photo" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter l'Utilisateur</button>
        </form>
    </div>
</div>
